@font-face {
	font-family: "Proxima Nova";
	src: url(fonts/ProximaNovaT-Thin.ttf);
}
@font-face {
	font-family: "Roboto";
	src: url(fonts/Roboto.ttf);
}

body {
	overflow-x: hidden;
	height: 1000px;
	max-width: 1920px;
	margin: 0 auto;
}
header {
	background: url(img/header-bg.png) center fixed no-repeat;
	height: 1000px;
}
.navbar {
	transition: 0.5s;
}
.navbar:hover {
	background: rgba(255,255,255,0.5);
	transition: 0.5s;
}
.wrap {
	background: rgba(10,10,10,0.0);
	transition: 1s;
	height: 100%;
}
.blur {
	background: rgba(30,30,30,0.8);
	transition: 0.5s;
}
.navbar {
	margin: 0 auto;
}
.navbar-brand {
	width: 289px;
	height: 32px;
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 36px;
	font-weight: 300;
	line-height: 24px;
}
.navbar-brand strong {
	font-weight: bold;
}
.nav-link {
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	padding: 2px 0;
}
.nav-item:hover {
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	transition: 0.5s;
}
.nav-item {
	border: 1px solid rgba(0, 0, 0, 0);
	transition: 0.5s;
}
.nav-link:hover {
	color: #000;
}
.header-title {
	margin: 0 auto;
	margin-top: 150px;
	max-width: 589px;
	text-align: center;
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 48px;
	font-weight: 700;
}
.header-subtitle {
	margin: 0 auto;
	max-width: 450px;
	color: #949494;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 400;
}
.header-button {
	margin: 0 auto;
	margin-top: 64px;	
}
.header-button:hover .wrap {
	background: rgba(0, 0, 0, 0.5);
}
.primary-button {
	display: block;
	background: url(img/header-button.png) no-repeat center;
	width: 205px;
	height: 50px;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	transition: 0.5s;
}
.primary-button:hover {
	text-decoration: none;
	color: #fff;
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
	transform: scale(1.05);
	transition: 0.5s;
}
.header-scroll-down {
	width: 25px;
	height: 43px;
	display: block;
	margin: 0 auto;
	margin-top: 419px;
	background: url(img/scroll-down.png) no-repeat center;
}
.header-scroll-down-label {
	display: block;
	margin: 0 auto;
	width: 100px;
	text-align: center;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
}
.best {
	height: 520px;
	display: flex;
	justify-content: center;
	color: #fff;
	text-decoration: none;
}
.best-col {
	width: 50%;
	padding-top: 145px;
}
.best-design {
	background: url(img/bestD.png) no-repeat center;
	padding-left: 250px;
	padding-right: 85px;
}
.best-code {
	background: url(img/bestC.png) no-repeat center;
	padding-left: 85px;
	padding-right: 250px;
}
.best-col-title {
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 48px;
	margin: 0;
}
.best-col-subtitle {
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	margin-top: 15px;
	margin-bottom: 35px;
}
.whatWeDo {
	min-height: 850px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.section-title {
	margin: 0 auto;
	width: 277px;
	font-family: "Proxima Nova";
	font-size: 48px;
	font-weight: 700;
}
.whatWeDo-title {
	color: #000000;
}
.whatWeDo-cards {
	margin: 0 300px;
	margin-top: 113px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 80px;
}
.card {
	display: flex;
	justify-content: center;
	flex-direction: row;
	border: none;
}
.webDesign-img {
	background: url(img/web-design.png) no-repeat top;
}
.webApplications-img {
	background: url(img/web-aplication.png) no-repeat top;
}
.digitalPaiting-img {
	background: url(img/digital-paiting.png) no-repeat top;
}
.desktopApplications-img {
	background: url(img/aplications.png) no-repeat top;
}

.card-content {
	max-width: 60%;
}
.whatWeDo-button {
	margin: 110px auto 0 auto;
}

.aboutUs {
	width: 100%;
	min-height: 900px;
	padding-top: 110px;
	margin: 0 auto;
	background: url(img/about-bg.png) no-repeat fixed top;
}
.aboutUs-title {
	color: #fff;
	margin-bottom: 35px;
	text-align: center;
}
.aboutUs-subtitle {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 130px;
	width: 699px;
	color: #949494;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 300;
}
.aboutUs-cards {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1020px;
}
.aboutUs-card {
	width: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.aboutUs-card-img {
	width: 135px;
	height: 135px;
}
.about-img-1 {
	background: url(img/about-1.png) no-repeat center;
}
.about-img-2 {
	background: url(img/about-2.png) no-repeat center;
}
.about-img-3 {
	background: url(img/about-3.png) no-repeat center;
}
.about-img-4 {
	background: url(img/about-4.png) no-repeat center;
}
.aboutUs-card-title {
	width: 101px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	margin-top: 25px;
}
.aboutUs-card-subtitle {
	width: 222px;
	color: #949494;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	margin-top: 5px;
}
.aboutUs-button {
	margin: 0 auto;
	margin-top: 70px;
}
iframe {
	width: 100%;
}
footer {
	height: 700px;
	background: #fff;
	padding-top: 66px;
}
.footer-text {
	display: block;
	margin: 0 auto;
	text-align: center;
	color: #a7acbc;
	font-size: 18px;
	font-weight: 300;
	font-family: "Proxima Nova";
	padding-bottom: 20px;
}
.footer-text strong {
	font-weight: 700;
}


@media screen and (max-width: 1350px) {
		.best-col {
		padding-top: 90px;
	}
	.best-design {
		padding-left: 100px;
	}
	.best-code {
		padding-right: 100px;
	}
	.whatWeDo-cards {
		margin: 0 100px;
		margin-top: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 80px;
	}
}

@media screen and (max-width: 1050px) {
	header {
		background-attachment: scroll;
	}
	.aboutUs {
		background-attachment: scroll;
	}
	.aboutUs-cards {
		width: 100%;
	}
	.aboutUs-card {
		width: 25%;
	}
	.aboutUs-card-subtitle {
		width: 180px;
	}

}

@media screen and (max-width: 550px) {
	.best {
		flex-direction: column;
	}
	.whatWeDo-cards {
		margin: 0 100px;
		margin-top: 113px;
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 80px;
	}
}